<!DOCTYPE html>
<html>
<head lang="en">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>Ocelloscope plotter</title>
</head>
<style>
body {
    font-family: 'Ubuntu Mono'
}
</style>
<body>
    <img src="static/96.jpg" width="600px" /><br>
    Please specify what is in your wells: (For example A: USA300, B: USA300 Dcls, 1: TDZ 32 mg/l, 2: DCX 0.25 mg/l)
    <form action="/index" method="POST">
        <label>A:</label><input type="text" name="a"><br/>
        <label>B:</label><input type="text" name="b"><br/>
        <label>C:</label><input type="text" name="c"><br/>
        <label>D:</label><input type="text" name="d"><br/>
        <label>E:</label><input type="text" name="e"><br/>
        <label>F:</label><input type="text" name="f"><br/>
        <label>G:</label><input type="text" name="g"><br/>
        <label>H:</label><input type="text" name="h"><br/>
        <br/>
        <label>1:</label><input type="text" name="one"><label>2:</label><input type="text" name="two"><br/>
        <label>3:</label><input type="text" name="three"><label>4:</label><input type="text" name="four"><br/>
        <label>5:</label><input type="text" name="five"><label>6:</label><input type="text" name="six"><br/>
        <label>7:</label><input type="text" name="seven"><label>8:</label><input type="text" name="eight"><br/>
        <label>9:</label><input type="text" name="nine"><label>10:</label><input type="text" name="ten"><br/>
        <label>11:</label><input type="text" name="elevem"><label>12:</label><input type="text" name="twelve"><br/>
        <br/>
        The wells that you want to be combined into one graph (ie triplicates) need to be separated by a comma "," while
        the wells resulting in different graphs need to be separated by a semicolon ";". For example if I want to combine
        wells A1, E1 and A7 and compare them to B1, F1 and F7, I would input the following: A1,E1,A7;B1,F1,F7.<br><br>
        <label>Wells to combine:</label><input type="text" name="plot_this"><br><br>
        Value to use for errorbars:
        <select name="errorbars">
            <option name="Standard deviation" value="SD">Standard deviation</option>
            <option name="Standard error" value="SE">Standard error</option>
        </select><br><br>
        <input type="submit"/>
    </form>
</body>
</html>
